.btn {
  display: block;
  width: 272px;
  height: 50px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 25px;
  outline: none;
  cursor: pointer;

  @media @tablet-width {
    width: 294px;
  }

  &--link {
    line-height: 50px;
  }
  &--white {
    color: #ffffff;
    border-color: #ffffff;
    &:hover {
      color: @accent-color;
      background-color: #ffffff;
    }
    &:active {
      color: fade(@accent-color, 30%);
      background-color: #ffffff;
    }

    @media @desktop-width {
      font-size: 21px;
    }
  }
  &--pink {
    color: @accent-color;
    border-color: @accent-color;
    background-color: @light-color;
    &:hover {
      color: #ffffff;
      background-color: @accent-color;
    }
    &:active {
      color: fade(#ffffff, 30%);
      background-color: @accent-color;
    }
  }
  &--cancel {
    color: fade(@menu-color, 10%);
    border-color: fade(@menu-color, 10%);
    background-color: @light-color;
    &:hover {
      color: fade(@menu-color, 30%);
      border-color: fade(@menu-color, 30%);
    }
    &:active {
      color: fade(#ffffff, 30%);
      border: none;
      background-color: fade(@menu-color, 30%);
    }
  }
  &--editor {
    width: 277px;
    height: 56px;
    border-radius: 28px;
    margin: 12px auto;

    @media @tablet-width {
      width: 260px;
      margin: 23px 0 0;
    }
    @media @desktop-width {
      width: 180px;
      margin-right: -20px;
    }
  }
}

.btn__image {
  text-decoration: none;
  outline: none;
}

.btn__form {
  padding: 20px;
  width: 280px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #2aab6d;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #1c9b5e;
  }
  &:active {
    color: fade(#ffffff, 30%);
    background-color: #1c9b5e;
  }
  &:disabled {
    cursor: auto;
    background-color: @field-color;
  }

  @media @tablet-width {
      width: 300px;
  }

  @media @desktop-width {
    &--widing {
      width: 460px;
    }
  }
}

.btn__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 0 6px;
  font-size: 0;
  border: 3px solid fade(@menu-color, 10%);
  border-radius: 100%;

  &:hover {
    border-color: @menu-color;
  }
  &:active {
    border-color: fade(@menu-color, 10%);
    & .btn__svg-social {
      fill: fade(@accent-color, 10%);
    }
  }
  @media @tablet-width {
    margin: 0 12px 0 0;
  }
}

.btn__svg-social {
  fill: @accent-color;
}

.btn__academy {
  margin-left: 15px;
  font-size: 0;
  outline: none;
}

.btn__svg-academy {
  display: block;
  vertical-align: middle;
  fill: @accent-color;
  &:hover {
    fill: #000000;
  }
  &:active {
    fill: fade(#000000, 30%);
  }
}
