.btn {
  display: block;
  width: 272px;
  height: 50px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  @media @tablet-width {
    width: 294px;
  }

  &--link {
    line-height: 50px;
  }
  &--white {
    color: #ffffff;
    border-color: #ffffff;
    &:hover {
      color: @accent-color;
      background-color: #ffffff;
    }
    &:active {
      color: fade(@accent-color, 30%);
      background-color: #ffffff;
    }
  }
  &--pink {
    color: @accent-color;
    border-color: @accent-color;
    background-color: @light-color;
    &:hover {
      color: #ffffff;
      background-color: @accent-color;
    }
    &:active {
      color: fade(#ffffff, 30%);
      background-color: @accent-color;
    }
  }
  &--cancel {
    color: fade(@menu-color, 10%);
    border-color: fade(@menu-color, 10%);
    background-color: @light-color;
    &:hover {
      color: fade(@menu-color, 30%);
      border-color: fade(@menu-color, 30%);
    }
    &:active {
      color: fade(#ffffff, 30%);
      border: none;
      background-color: fade(@menu-color, 30%);
    }
  }
  &--editor {
    margin: 10px auto;

    @media @tablet-width {
      width: 260px;
      margin: 20px auto 0;
    }
    @media @desktop-width {
      width: 180px;
      margin: 0;
    }
  }
}

.btn__image {
  text-decoration: none;
  outline: none;
}

.btn__form {
  padding: 20px;
  width: 280px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #2aab6d;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #1c9b5e;
  }
  &:active {
    color: fade(#ffffff, 30%);
    background-color: #1c9b5e;
  }
  &:disabled {
    cursor: auto;
    background-color: @field-color;
  }

  @media @desktop-width {
    &--widing {
      width: 460px;
    }
  }
}

.btn__social {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 0;
  border: 3px solid fade(@menu-color, 10%);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
  }
  &--facebook {
    background-image: url("../../img/icon-facebook.svg");
    margin: 0 10px;
  }
  &--youtube {
    background-image: url("../../img/icon-youtube.svg");
  }
}

.btn__academy {
  font-size: 0;
  display: inline-block;
  float: right;
  width: 27px;
  height: 34px;
  margin-left: 15px;
  background-image: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}
