.download-app {
  .container();
}

.download-app__wrapper{
  position: relative;
  z-index: 2;
  width: 320px;
  margin: auto;
  padding-top: 25px;
  overflow: auto;
  background-color: @dark-color;
  a {
    color: #ffffff;
  }

  @media @tablet-width {
    margin-top: -580px;
    margin-left: 20px;
    width: 300px;
    background-color: transparent;
  }

  @media @desktop-width {
    margin-top: -707px;
    margin-left: 12px;
  }
}

.download-app__heading {
  display: none;
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
  text-align: center;
  color: #ffffff;

  @media @tablet-width {
    display: block;
    width: 190px;
    margin: 30px auto;
  }

  @media @desktop-width {
    width: auto;
    margin: 50px auto;
    font-size: 50px;
    line-height: 60px;
  }
}

.download-app__markets {
  padding: 32px 57px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  img {
    display: block;
    vertical-align: top;
  }

  @media @tablet-width {
    padding: 45px 47px 18px;
  }
  @media @desktop-width {
    padding: 66px 50px 38px;
  }
}

.download-app__text {
  padding: 0 40px 15px;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  color: #ffffff;
  text-align: center;

  @media @tablet-width {
    padding: 0;
    font-size: 18px;
  }
}
