.download-app {
  .container();
  @media @tablet-width {
    height: 0;
  }
}

.download-app__wrapper{
  width: 320px;
  margin: auto;
  padding-top: 25px;
  overflow: auto;
  background-color: @dark-color;
  a {
    color: #ffffff;
  }

  @media @tablet-width {
    position: relative;
    z-index: 1;
    top: -580px;
    margin-left: 30px;
    width: 300px;
    background-color: transparent;
  }

  @media @desktop-width {
    top: -680px;
  }
}

.download-app__heading {
  display: none;
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
  text-align: center;
  color: #ffffff;

  @media @tablet-width {
    display: block;
    width: 190px;
    margin: 30px auto;
  }

  @media @desktop-width {
    margin: 60px auto;
  }
}

.download-app__markets {
  padding: 25px 0 5px;
  text-align: center;

  a {
    padding: 0 15px;
  }

  @media @tablet-width {
    padding: 50px 0 15px;
  }
  @media @desktop-width {
    padding: 35px 0 30px;
  }
}

.download-app__text {
  padding: 0 40px 20px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
  color: #ffffff;
  text-align: center;

  @media @tablet-width {
    padding: 0;
    font-size: 18px;
  }
}
