.editor {
  margin: 0 auto;
  background-color: @light-color;

  @media @tablet-width {
    padding: 55px 0;
    min-height: 400px;
  }
  @media @desktop-width {
    width: 940px;
    padding: 0;
  }
}

.editor__wrapper {
  .container();
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }
  @media @desktop-width {
    width: auto;
    padding: 55px 80px;
  }
}

.editor__canvas {
  padding-top: 20px;
  text-align: center;
  @media @tablet-width {
    padding-top: 0;
    img {
      display: block;
    }
  }
}

.editor__functions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    @media @tablet-width {
      width: 275px;
    }
    @media @desktop-width {
      width: 385px;
    }
}

.editor__ranges {
  @media @tablet-width {
    display: flex;
    flex-direction: row;
  }
}

.editor__inputs {
  position: relative;
  text-align: center;
}

.editor__icon-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin: 35px auto 10px;

  @media @tablet-width {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 56px;
    margin: 0;
  }
  @media @desktop-width {
    width: 83px;
  }
}

.editor__icon-btn {
  width: 44px;
  height: 44px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  fill: @accent-color;

  &--inactive {
    cursor: pointer;
    fill: fade(#000000, 30%);
    &:hover {
      fill: fade(#000000, 50%);
    }
    @media @tablet-width {
      cursor: auto;
      fill: @accent-color;
      &:hover {
        fill: @accent-color;
      }
    }
  }

  @media @tablet-width {
    cursor: auto;
    svg {
      width: 22px;
    }
    &--contrast {
    height: 17px;
      svg {
        width: 17px;
      }
    }
    margin: -4px -7px 36px;
  }
  @media @desktop-width {
    width: 48px;
    svg {
      width: 48px;
    }
  }
}

.editor__range  {
  -webkit-appearance: none;
  width: 235px;
  height: 2px;
  margin: 30px auto;
  background-color: @menu-color;
  border: none;
  outline: none;

  &::-ms-fill-lower,
  ::-ms-fill-upper {
    background: transparent;
  }
  &::-ms-track {
    height: 2px;
    border: none;
    background-color: @menu-color;
  }

  &::-moz-range-track {
    height: 1px;
    background-color: @menu-color;
    border: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border: 2px solid @accent-color;
    border-radius: 100%;
    background-color: @light-color;

    &:active {
      background-color: @accent-color;
    }
  }

  &::-ms-thumb {
    width: 13px;
    height: 13px;
    border: 2px solid @accent-color;
    border-radius: 100%;
    background-color: @light-color;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border: 2px solid @accent-color;
    border-radius: 100%;
    background-color: @light-color;
  }

  &--hidden {
    display: none;

    @media @tablet-width {
      display: inline;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 320px;
    height: 1px;
    margin-top: 35px;
    background-color: #dddfe0;

    @media @tablet-width {
      left: -55px;
      width: 275px;
    }
    @media @desktop-width {
      left: -95px;
      width: 410px;
    }
  }

  @media @tablet-width {
    display: block;
    width: 200px;
    margin: 20px auto 71px;
  }
  @media @desktop-width {
    width: 290px;
    margin-bottom: 69px;
  }
}

.editor__control {
  padding: 30px 0;

  @media @tablet-width {
    padding: 0;
  }
  @media @desktop-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
