.editor {
  padding: 20px;
  background-color: @light-color;
}

.editor__functions {
  margin-top: 40px;
  text-align: center;
}

.editor__ranges {
  margin: 30px auto;
  text-align: center;
}

.editor__range {
  width: 235px;
  &--hidden {
    display: none;
  }
}

.editor__control {
  padding-top: 30px;
  padding-bottom: 15px;
  border-top: 1px solid #dddfe0;
}
