.effect {
  .container();
  .clearfix();
  display: none;
  background-color: #ffffff;

  @media @tablet-width {
    display: block;
  }
  @media @desktop-width {
    background-color: @light-color;
  }
}

.effect__wrapper {
  position: relative;
  width: 350px;

  @media @tablet-width {
    float: right;
  }
  @media @desktop-width {
    width: 520px;
  }
}

.effect__heading {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  @media @desktop-width {
    br {
      display: none;
    }
  }
}

.effect__text {
  display: block;
  width: 296px;
  font-size: 14px;
  line-height: 24px;
  color: @menu-color;

  @media @desktop-width {
    width: auto;
  }
}

.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: @accent-color;
  &:hover{
    text-decoration: none;
  }
  &:active{
    color: @menu-color;
  }
}
