.main-nav {
  min-width: 320px;
  background-color: @menu-color;
  position: relative;
  z-index: 1;

  &--closed {
    background-color: fade(#000000, 30%);
  }

  @media @desktop-width {
    background-color: fade(#000000, 30%);
  }
}

.main-nav__wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media @desktop-width {
    .container();
    flex-direction: row;
  }
}

.main-nav__menu {
  &--closed {
    display: none;
  }
  @media @desktop-width {
    display: block;
  }
}

.main-nav__top-bar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media @tablet-width {
    height: 25px;
    padding: 40px;
  }
  @media @desktop-width {
  }
}

.main-nav__logo {
}

.main-nav__switch {
  width: 24px;
  height: 23px;
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
  background-image:url('../../img/icon-menu-cross.svg');
  background-repeat: no-repeat;
  cursor: pointer;

  &--closed {
    width: 50px;
    height: 24px;
    background-image:url('../../img/icon-menu-burger.svg');
  }

  @media @tablet-width {
  }
  @media @desktop-width {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #000000;

  @media @desktop-width {
    border-bottom: none;
  }
}
.main-nav__item {

  @media @desktop-width {
    display: inline-block;
    padding: 42px 40px 35px;
  }
  a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 62px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.15),
                0px -1px 0px 0px rgba(0,0,0,1);
    &:hover {
      color: @accent-color;
    }
    &:active {
      color: fade(@accent-color, 30%);
      @media @desktop-width {
        color: fade(#ffffff, 30%);
      }
    }

    @media @desktop-width {
      display: inline-block;
      padding-bottom: 10px;
      font-weight: normal;
      line-height: 18px;
      text-transform: capitalize;
      box-shadow: none;
    }
  }
  &--current {
    a {
      box-shadow: 0px -1px 0px 0px rgba(0,0,0,1);
      &:hover {
        color: #ffffff;
        @media @desktop-width {
          border-bottom: 2px solid @accent-color;
          color: @accent-color;
        }
      }

      @media @desktop-width {
        border-bottom: 2px solid #ffffff;
        box-shadow: none;
      }
    }
  }
}
