.map {
  width: 320px;
  height: 200px;

  &::before {
    content: "";
    position: relative;
    top: 50px;
    width: 0;
    height: 0;
    border-right: 160px solid transparent;
    border-left: 160px solid transparent;
    border-top: 30px solid #ffffff;

    @media @tablet-width {
      top: 95px;
      border-right: 330px solid transparent;
      border-left: 330px solid transparent;
      border-top: 75px solid #ffffff;
    }

    @media @desktop-width {
      top: 120px;
      border-right: 480px solid transparent;
      border-left: 480px solid transparent;
      border-top: 100px solid #ffffff;
    }
  }

  @media @tablet-width {
    width: 660px;
    height: 380px;
  }

  @media @desktop-width {
    width: 960px;
    height: 500px;
  }
}

.map__frame {
  width: 100%;
  height: 200px;
  border: none;

  @media @tablet-width {
    height: 380px;
  }

  @media @desktop-width {
    height: 500px;
  }
}
