.paginator {
  width: 80px;
  margin: 25px auto;

  &--review-slider {
    @media @tablet-width {
      margin-top: 140px;
    }
    @media @desktop-width {
      display: none;
    }
  }
  &--pay-plans {
    @media @tablet-width {
      display: none;
    }
  }
}
