.pay-plans {
  margin-left: -245px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 270px * 3;
  background-color: @light-color;
}
.pay-plans__table {
}
.pay-plans__plan {
  width: 275px;
  height: 95px;
  vertical-align: middle;
  color: #ffffff;
  background-color: @menu-color;
  &--hit {

  }
}
.pay-plans__name {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
.pay-plans__cost {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  text-transform: uppercase;
}
.pay-plans__service {
  width: 275px;
  padding: 20px;
  background-color: #ffffff;
  }
.pay-plans__include {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @menu-color;
  &--true {}
  &--false {}
}