.pink {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: @menu-color;
  background-color: @dark-color;

  @media @tablet-width {
    width: 690px;
  }

  @media @desktop-width {
    width: 1200px;
  }
}
