.promo {
  overflow: hidden;
  background-color: @dark-color;

  @media @tablet-width {
    background-color: @light-color;
  }
}

.promo__header {
  width: 320px;
  margin: 0 auto;
  padding-top: 15px;
  background-color: #ffffff;
  &::after {
    .oblique();

    @media @tablet-width {
      bottom: -20px;
    }
    @media @desktop-width {
      bottom: -55px;
    }
  }

  @media @tablet-width {
    width: 100%;
    padding: 50px 0;
  }
  @media @desktop-width {
    padding: 70px 0 140px;
  }
}

.promo__intro {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
  color: @menu-color;

  &--bottom {
    margin: 30px auto 10px;
    line-height: 28px;

    @media @tablet-width {
      width: 340px;
      margin: auto;
    }
    @media @desktop-width {
      width: 430px;
    }
  }

  @media @tablet-width {
    margin: 0 auto;
    font-size: 40px;
    line-height: 48px;
  }
  @media @desktop-width {
    font-size: 50px;
    line-height: 60px;
  }
}

.promo__main {
  .container();
  background-color: @light-color;
}

.promo__list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
  margin: 0;
  padding: 80px 23px 0;
  list-style: none;
  &::after {
    content: "";
    display: block;
    width: 157px;
    height: 278px;
    margin: 10px auto 0;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    @media @retina {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
    @media @tablet-width {
      display: none;
    }
  }
  &::before{
    @media @tablet-width {
      content: "";
      display: block;
      position: absolute;
      top: -70px;
      width: 270px;
      height: 480px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      @media @retina {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 270px auto;
      }
    }
    @media @desktop-width {
      display: none;
    }
  }

  @media @tablet-width {
    margin-top: 47px;
    padding: 0 20px 10px;
  }
  @media @desktop-width {
    flex-direction: row;
    align-content: flex-start;
    padding: 270px 0 15px;
    margin: 0;
  }
}

.promo__item {
  margin-bottom: 15px;
  text-align: center;

  @media @tablet-width {
    margin-left: 310px;
    margin-bottom: 18px;
    width: 310px;
    text-align: left;
  }
  @media @desktop-width {
    position: relative;
    width: 240px;
    margin: auto;
    text-align: center;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -358px;
      left: -25px;
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      @media @retina {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }
    &:first-child {
      &::before {
        background-image: url("../img/iphone-screen-1-desktop@1x.png");
        @media @retina {
          background-image: url("../img/iphone-screen-1-desktop@2x.png");
          background-size: 292px auto;
        }
      }
    }
    &:last-child {
      &::before {
        background-image: url("../img/iphone-screen-3-desktop@1x.png");
        @media @retina {
          background-image: url("../img/iphone-screen-3-desktop@2x.png");
          background-size: 292px auto;
        }
      }
    }
  }
}

.promo__heading {
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  @media @desktop-width {
    font-size: 30px;
    line-height: 30px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 24px;

  @media @desktop-width {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
  }
}
