.promo {
  background-color: #ffffff;
}

.promo__header {
  .container();
  padding: 20px 55px 5px;
  background-color: #ffffff;

  @media @tablet-width {
    padding: 50px 0;
  }
  &::after {
    .oblique();

    @media @tablet-width {
      bottom: -20px;
    }
  }
}

.promo__intro {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  color: @menu-color;

  @media @tablet-width {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    &--bottom {
      width: 340px;
      margin: auto;
    }
  }
}

.promo__main {
  .container();
  background-color: @light-color;
}

.promo__list {
  margin: 0;
  padding: 60px 25px;
  list-style: none;
  text-align: center;
  background-color: @light-color;
  &::after {
    content: "";
    background-image: url(../../img/iphone-screen-mobile@1x.png);
  }
}

.promo__item {
  line-height: 24px;

  @media @tablet-width {
    display: block;
    margin-left: 325px;
    width: 300px;
    text-align: left;
  }
  @media @desktop-width {
    display: inline-block;
    margin: auto;
    width: 240px;
    vertical-align: top;
    text-align: center;
  }
}

.promo__heading {
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  @media @desktop-width {
    font-size: 30px;
    line-height: 30px;
  }
}

.promo__text {
  font-size: 14px;

  @media @desktop-width {
    font-size: 18px;
    line-height: 30px;
  }
}
