.review-slider {
  padding: 50px 15px;
}
.review-slider__review {
  line-height: 30px;
  text-align: center;

  &:nth-child(n+2) {
    display: none;
  }
}
.review-slider__name {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.review-slider__text {
  font-size: 14px;
  color: @menu-color;
}
