.review-slider {
  .container();
  position: relative;
  padding-top: 50px;
  line-height: 30px;
  background-color: #ffffff;
  &::after {
    .oblique();
    bottom: 25px;

    @media @desktop-width {
      top: 75px;
    }
  }

  @media @desktop-width {
    padding-bottom: 100px;
  }
}
.review-slider__review {
  text-align: center;

  &:nth-child(n+2) {
    display: none;
  }
}
.review-slider__name {
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  @media @tablet-width {
    font-size: 20px;
  }
}

.review-slider__job {
  display: none;

  @media @tablet-width {
    display: block;
    font-size: 14px;
  }
}

.review-slider__name-job-wrap {
  @media @tablet-width {
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0;
  }

  @media @desktop-width {
    top: 170px;
  }
}

.review-slider__text {
  font-size: 14px;

  @media @tablet-width {
    font-size: 18px;
  }
}
