.site-header {
  color: #ffffff;
  background-color: @dark-color;
  &--index {
    @media @tablet-width {
      height: 727px;
    }
    @media @desktop-width {
      height: 853px;
    }
  }
}

.site-header__heading {
  z-index: 0;
  position: relative;
  margin-top: -60px;
  width: 100%;
  min-height: 230px;
  overflow: auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  @media @retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  @media @tablet-width {
    margin-top: -110px;
    height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto;

    @media @retina and @tablet-width {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media @desktop-width {
    height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media @retina and @desktop-width {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  &--index {
    height: 455px;
    @media @tablet-width {
      height: 727px;
    }
    @media @desktop-width {
      height: 853px;
    }
    h1 {
      display: none;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 320px;
      height: 286px;
      background-image: url("../img/iphone-hand-mobile@1x.png");
      background-position: left;
      background-repeat: no-repeat;

      @media @retina {
        background-image: url("../img/iphone-hand-mobile@2x.png");
        background-size: 258px auto;
      }

      @media @tablet-width {
        width: 700px;
        height: 545px;
        background-image: url("../img/iphone-hand-tablet@1x.png");

        @media @retina and @tablet-width{
          background-image: url("../img/iphone-hand-tablet@2x.png");
          background-size: 700px auto;
        }

      }

      @media @desktop-width {
        width: 910px;
        height: 645px;
        background-image: url("../img/iphone-hand-desktop@1x.png");

        @media @retina and @desktop-width {
          background-image: url("../img/iphone-hand-desktop@2x.png");
          background-size: 1050px auto;
        }
      }
    }
  }



  h1 {
    margin: 90px auto 0;
    width: 230px;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    text-align: center;

    @media @tablet-width {
      margin-top: 180px;
      width: 480px;
      font-size: 50px;
      line-height: 60px;
    }
    @media @desktop-width {
      margin-top: 175px;
    }
  }

  &--form {
    h1 {
      @media @tablet-width {
        margin-top: 175px;
      }
      @media @desktop-width {
        width: 750px;
      }
    }
  }
}
